# Nginx
HOSTNAME=localhost
BASE_URL=https://${HOSTNAME}:4443

# Django
DEBUG=False
SECRET_KEY=foobar
DJANGO_SUPERUSER_USERNAME=foo
DJANGO_SUPERUSER_PASSWORD=bar
DJANGO_ALLOWED_HOSTS=${HOSTNAME}
DJANGO_CSRF_TRUSTED_ORIGINS=${BASE_URL}

# Postgres
POSTGRES_DB=foodb
POSTGRES_USER=foo
POSTGRES_PASSWORD=bar

# 42 Oauth
OAUTH_UID=
OAUTH_SECRET=
OAUTH_FALLBACK=${BASE_URL}/authorize
