{% load i18n %}
<div id="navbar-wrapper">
	<nav class="navbar">
		<a class="navbar-brand nav navbar-nav navbar-left text-decoration-none" data-route href="/">Johnny
			Depp</a>
		{% if user.is_authenticated %}
		<button id="notif-button" onClick="toggleNotificationArea()">
			<i id="icon-notif" class="fa-solid fa-bell"></i>
		</button>
		<div id="notification-area" hidden>
			<p id="no-notifications">{% trans "You don't have any notifications at the moment." %}</p>
		</div>
		<div class="container-dropdown">
			<div class="dropdown">
				<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
					data-bs-toggle="dropdown" aria-expanded="false">
					{{ user.username }}
					<img src="{{ user.avatar.url }}" alt="Profile" class="navbar-profile-img">
				</button>
				<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
					<li><a class="dropdown-item" data-route href="/profiles/{{ user.username }}">
							{% trans "Profile" %}</a></li>
					<li><a class="dropdown-item" data-route href="/settings">{% trans "Settings" %} <span
								class="glyphicon glyphicon-cog"></span></a></li>
					<li>
						<hr class="dropdown-divider">
					</li>
					<li><button id="logout-button-navbar" class="dropdown-item fw-bold">{% trans "Log out" %} <span
								class="glyphicon glyphicon-log-out"></span></button></li>
				</ul>
			</div>
		</div>
		{% else %}
		<ul id="navbar-list"
			class="list-group list-group-flush list-group-horizontal-sm list-unstyled nav navbar-nav navbar-right">
			<li class="m-2"><a class="btn btn btn-success rounded-pill rounded-5" data-route href="/login"><span
						class="glyphicon glyphicon-log-in"></span> {% trans "Login" %}</a></li>
			<li class="m-2"><a class="btn btn btn-outline-success rounded-pill rounded-5" data-route
					href="/register"><span class="glyphicon glyphicon-user"></span> {% trans "Register" %}</a></li>
		</ul>
		{% endif %}
	</nav>
</div>

<aside id="sidebar" class="close">
	<ul>
		<li>
			<button id="toggle-btn" class="rotate">
				<img draggable="false" src="/assets/double-arrow.svg" alt="double arrow icon">
			</button>
		</li>
		<li class="active">
			<a data-route href="/">
				<img draggable="false" src="/assets/home.svg" alt="home icon">
				<span class="fw-bold">{% trans "HOME" %}</span>
			</a>
		</li>
		<li>
			<button onclick=toggleSubMenu(this) class="dropdown-btn">
				<img draggable="false" src="/assets/controller.svg" alt="controller icon">
				<span class="fw-bold">{% trans "GAMES" %}</span>
				<img draggable="false" src="/assets/arrow-down.svg" alt="arrow down icon">
			</button>
			<ul class="sub-menu">
				<div>
					<li>
						<a data-route href="/pong" tabindex="-1">
							<img draggable="false" src="/assets/pong-racket.svg" alt="racket icon">
							<span class="fw-bold">{% trans "PONG" %}</span>
						</a>
					</li>
					<li>
						<a data-route href="/tournaments" tabindex="-1">
							<img draggable="false" src="/assets/trophy.svg" alt="trophy icon">
							<span class="fw-bold">{% trans "TOURNAMENTS" %}</span>
						</a>
					</li>
				</div>
			</ul>
		</li>
		<li>
			<button onclick="toggleSubMenu(this)" class="dropdown-btn" id="language-button">
				<img draggable="false" src="/assets/translate.svg" alt="translate icon">
				<span class="fw-bold">{% trans "LANGUAGE" %}</span>
				<img draggable="false" src="/assets/arrow-down.svg" alt="arrow down icon">
			</button>
			<ul class="sub-menu">
				<div id="language-menu">
					<li>
						<a href="#" data-lang="fr">
							<img draggable="false" src="/assets/fr.svg" alt="french icon">
							<span class="fw-bold">Français</span>
						</a>
					</li>
					<li>
						<a href="#" data-lang="en">
							<img draggable="false" src="/assets/en.svg" alt="england icon">
							<span class="fw-bold">English</span>
						</a>
					</li>
					<li>
						<a href="#" data-lang="bs">
							<img draggable="false" src="/assets/bs.svg" alt="bosnian flag icon">
							<span class="fw-bold">Bosanski</span>
						</a>
					</li>
					<li>
						<a href="#" data-lang="pt-br">
							<img draggable="false" src="/assets/pt-br.svg" alt="brazilian icon">
							<span class="fw-bold">Brasileiro</span>
						</a>
					</li>
				</div>
			</ul>
		</li>
		{% if user.is_authenticated %}
		<li>
			<button onclick=toggleSubMenu(this) class="dropdown-btn">
				<img draggable="false" src="/assets/community.svg" alt="community icon">
				<span class="fw-bold">{% trans "COMMUNITY" %}</span>
				<img draggable="false" src="/assets/arrow-down.svg" alt="arrow down icon">
			</button>
			<ul class="sub-menu">
				<div>
					<li>
						<a data-route href="/profiles/{{ user.username }}" tabindex="-1">
							<img draggable="false" src="/assets/person.svg" alt="person icon">
							<span class="fw-bold">{% trans "PROFILE" %}</span>
						</a>
					</li>
					<li>
						<a data-route href="/friends" tabindex="-1">
							<img draggable="false" src="/assets/group.svg" alt="group icon">
							<span class="fw-bold">{% trans "FRIENDS" %}</span>
						</a>
					</li>
				</div>
			</ul>
		</li>
		{% endif %}
	</ul>
</aside>

<div id="content-wrapper">
	<div id="main-content">
		{% block content %}{% endblock %}
	</div>
</div>
{% if user.is_authenticated %}
<div id="chat-wrapper">
	<button id="chat-button" class="anim-chat-button">
		<i class="fa-solid fa-message icon-msg" style="font-size: 40px;"></i>
	</button>
	<div id="chat-container" class="toggled">
		<div id="chat-title">{% trans "Room: " %}<span id="room-name">{% trans "General" %}</span></div>
		<div id="chat-log"></div>
		<form id="chat-form">
			<input id="chat-input" type="text" placeholder="{% trans 'Type your message here...' %}"
				autocomplete="off" />
			<button type="submit" id="chat-send-btn">{% trans "Send" %}</button>
		</form>
		<div id="users-wrapper">
			<h6>{% trans "Users Online" %}</h6>
			<ul id="user-list"></ul>
		</div>
	</div>
</div>
{% endif %}
<script>
	const toggleButton = document.getElementById('toggle-btn')
	const sidebar = document.getElementById('sidebar')

	function toggleSidebar() {
		sidebar.classList.toggle('close')
		toggleButton.classList.toggle('rotate')

		Array.from(sidebar.getElementsByClassName('show')).forEach(ul => {
			ul.classList.remove('show')
			ul.previousElementSibling.classList.remove('rotate')
		})
	}

	document.getElementById("toggle-btn").onclick = function (e) {
		toggleSidebar();
	};

	document.getElementById("main-content").onclick = e => {
		if (!sidebar.classList.contains('close')) toggleSidebar();
	};

	document.getElementById("logout-button-navbar")?.addEventListener("click", function (e) {
		logout();
	})
</script>

<script>
	const languageButton = document.getElementById('language-button');
	const languageMenu = document.getElementById('language-menu');

	languageButton.addEventListener('click', function () {
		const isVisible = languageMenu.style.display === 'block';
		languageMenu.style.display = isVisible ? 'none' : 'block';
	});

	function changeLanguage(lang) {
		fetch(`/api/pages/translate/?lang=${lang}`, {
			method: 'GET',
			headers: {
				'Content-Type': 'application/json',
			},
		})
			.then(response => response.json())
			.then(data => {
				handleLocation();
			})
			.catch(error => {
				console.error('Error changing language:', error);
			});
	}

	document.querySelectorAll('#language-menu a').forEach(item => {
		item.addEventListener('click', function (event) {
			event.preventDefault();
			const lang = this.getAttribute('data-lang');
			changeLanguage(lang)
			languageMenu.style.display = 'none';
		});
	})
</script>

{% if user.is_authenticated %}
<script>
	let currentChatRoom = 'General';
	let blockedUsers = [];
	window.chatSocket = undefined;

	if (!window.chatSocket) {
		window.chatSocket = wsConnect(wsCreateUrl(`chat/General/`), handleOnMessage, handleOnError);
		window.chatSocket.onopen = function () {
			loadChatHistory('General');
		};
	}

	function startPrivateChat(otherUsername) {
		if (blockedUsers.includes(otherUsername)) {
			const blockAlertTrans = "You have blocked";
			const unblockAlertTrans = "Unblock them to start a private chat";
			alert(`${blockAlertTrans} ${otherUsername}. ${unblockAlertTrans}.`);
			return;
		}
		const roomName = `private_chat_${otherUsername}`;
		if (window.chatSocket) {
			window.chatSocket.close();
		}
		window.chatSocket = wsConnect(wsCreateUrl(`chat/private/${otherUsername}/`), handleOnMessage, handleOnError);

		window.chatSocket.onopen = function () {
			loadChatHistory(roomName);
		};
		const privateChatTrans = "{% trans 'Private Chat with' %}"
		document.getElementById('chat-title').textContent = `${privateChatTrans} ${otherUsername}`;
		currentChatRoom = roomName;
	}

	window.joinGeneralChat = function () {
		if (window.chatSocket) {
			window.chatSocket.close();
		}
		window.chatSocket = wsConnect(wsCreateUrl(`chat/General/`), handleOnMessage, handleOnError);

		window.chatSocket.onopen = function () {
			loadChatHistory('General');
		};

		document.getElementById('chat-title').textContent = "{% trans 'Room: ' %} " + "{% trans 'General' %}";
		currentChatRoom = 'General';
		const notificationArea = document.getElementById('notification-area');
		notificationArea.innerHTML = `
		<p id="no-notifications">{% trans "You don't have any notifications at the moment." %}</p>`;
	}

	window.joinPrivateChat = function (otherUsername) {
		const roomName = `private_chat_${otherUsername}`;
		if (currentChatRoom === roomName) {
			return;
		}
		if (window.chatSocket) {
			window.chatSocket.close();
		}
		window.chatSocket = wsConnect(wsCreateUrl(`chat/private/${otherUsername}/`), handleOnMessage, handleOnError);
		window.chatSocket.onopen = function () {
			loadChatHistory(roomName);
		};

		document.getElementById('chat-title').textContent = `Private Chat with ${otherUsername}`;
		currentChatRoom = roomName;
		const notificationArea = document.getElementById('notification-area');
		notificationArea.innerHTML = `
		<p id="no-notifications">{% trans "You don't have any notifications at the moment." %}</p>`;
	}

	function handleOnMessage(data) {
		switch (data.type) {
			case 'active_users':
				updateActiveUsers(data.users);
				break;
			case 'chat_history':
				displayChatHistory(data.messages);
				break;
			case 'private_message_notification':
				if (currentChatRoom !== `private_chat_${data.from_user}`) {
					showPrivateChatNotification(data.from_user);
				}
				break;
			default:
				handleDefault(data);
				break;
		}
	}

	function handleOnError(error) {
		console.error('WebSocket Error:', error);
	}

	function updateActiveUsers(users) {
		const userList = document.getElementById('user-list');
		userList.innerHTML = '';

		users.forEach(user => {
			const userItem = document.createElement('li');
			userItem.classList.add('user-item');

			const usernameLink = document.createElement('a');
			usernameLink.textContent = user;
			usernameLink.href = `/profiles/${user}`;
			usernameLink.target = "_blank";
			userItem.appendChild(usernameLink);

			if (user !== "{{ user }}") {
				const blockButton = document.createElement('button');
				blockButton.textContent = blockedUsers.includes(user) ? "{% trans 'Unblock' %}" : "{% trans 'Block' %}";
				blockButton.addEventListener('click', () => {
					toggleBlockUser(user);
					blockButton.textContent = blockedUsers.includes(user) ? "{% trans 'Unblock' %}" : "{% trans 'Block' %}";
				});
				userItem.appendChild(blockButton);

				const privateChatButton = document.createElement('button');
				privateChatButton.textContent = "PM";
				if (blockedUsers.includes(user)) {
					privateChatButton.disabled = true;
				} else {
					privateChatButton.disabled = false;
				}
				privateChatButton.addEventListener('click', () => startPrivateChat(user));
				userItem.appendChild(privateChatButton);
			} else {
				userItem.textContent = "{% trans 'General Chat' %}";
				const generalChatButton = document.createElement('button');
				generalChatButton.textContent = "GC";
				generalChatButton.addEventListener('click', () => joinGeneralChat());
				userItem.appendChild(generalChatButton);
			}

			userList.appendChild(userItem);
		});
	}

	function displayChatHistory(messages) {
		const chatLog = document.getElementById('chat-log');
		chatLog.innerHTML = '';

		messages.forEach(message => {
			const newMessageDiv = document.createElement('div');
			if (message.username === "{{ user }}") {
				newMessageDiv.classList.add('message', 'self');
			} else {
				newMessageDiv.classList.add('message', 'other');
			}
			newMessageDiv.innerHTML = `<strong>${message.username}:</strong> ${message.message}`;
			chatLog.appendChild(newMessageDiv);
		});
		chatLog.scrollTop = chatLog.scrollHeight;
	}

	document.getElementById('notif-button').onclick = function () {
		toggleNotificationArea();
	};

	function toggleNotificationArea() {
		const notificationArea = document.getElementById('notification-area');

		if (notificationArea.hidden) {
			notificationArea.hidden = false;
		} else {
			notificationArea.hidden = true;
		}
		const notifIcon = document.getElementById('icon-notif');
		if (notifIcon.classList.contains('fa-spin-pulse')) {
			notifIcon.classList.remove('fa-spin-pulse');
		}
	}

	function showPrivateChatNotification(fromUser) {
		if (blockedUsers.includes(fromUser)) {
			console.log(`Notification from ${fromUser} ignored because they are blocked.`);
			return;
		}

		const notifIcon = document.getElementById('icon-notif');
		notifIcon.classList.remove('fa-solid', 'fa-bell');
		notifIcon.classList.add('fa-solid', 'fa-bell', 'fa-spin-pulse');

		const notificationArea = document.getElementById('notification-area');
		const noNotificationsMessage = document.getElementById('no-notifications');

		if (noNotificationsMessage) {
			noNotificationsMessage.style.display = 'none';
		}

		const notificationDiv = document.createElement('div');
		notificationDiv.classList.add('notification');
		notificationDiv.innerHTML = `
		<p>Private message from ${fromUser}</p>
		<button class="display-notif" onclick="joinPrivateChat('${fromUser}')">Show</button>
	`;

		notificationArea.appendChild(notificationDiv);

		document.getElementById('notif-button').addEventListener('click', function () {
			notifIcon.classList.remove('fa-solid', 'fa-bell', 'fa-spin-pulse');
			notifIcon.classList.add('fa-solid', 'fa-bell');
		});
	}

	function handleDefault(data) {
		const chatLog = document.getElementById('chat-log');
		const newMessageDiv = document.createElement('div');
		newMessageDiv.classList.add('message', data.username === "{{ user }}" ? 'self' : 'other');
		const linkRegex = /https?:\/\/[a-zA-Z0-9.-]+(?::\d+)?(?:\/[^\s]*)?/g;
		const formattedMessage = data.message.replace(linkRegex, (url) => {
			return `<a href="${url}" target="_blank">${url}</a>`;
		});
		newMessageDiv.innerHTML = `<strong>${data.username}:</strong> ${formattedMessage}`;
		chatLog.appendChild(newMessageDiv);
		chatLog.scrollTop = chatLog.scrollHeight;
	}

	function loadChatHistory(roomId) {
		if (window.chatSocket && window.chatSocket.readyState === WebSocket.OPEN) {
			window.chatSocket.send(JSON.stringify({
				'type': 'fetch_history',
				'roomId': roomId
			}));
		}
	}

	function toggleBlockUser(user) {
		if (blockedUsers.includes(user)) {
			blockedUsers = blockedUsers.filter(u => u !== user);
		} else {
			blockedUsers.push(user);
		}
	}

	function onPageChange(e) {
		if (window.chatSocket) {
			window.chatSocket.close();
			window.chatSocket = undefined;
		}
		e.srcElement.removeEventListener('pagechange', onPageChange);
	}

	document.getElementById('content').addEventListener('pagechange', onPageChange);

	document.getElementById("chat-form").addEventListener("submit", e => {
		e.preventDefault();
		const messageInput = document.getElementById('chat-input');
		const message = messageInput.value.trim();
		const otherUsername = currentChatRoom.split('private_chat_')[1];
		if (otherUsername && blockedUsers.includes(otherUsername)) {
			const blockAlertTrans = "You have blocked";
			const unblockAlertTrans = "Unblock them to send messages";
			alert(`${blockAlertTrans} ${otherUsername}. ${unblockAlertTrans}.`);
			return;
		}
		if (window.chatSocket && window.chatSocket.readyState === WebSocket.OPEN && message) {
			window.chatSocket.send(JSON.stringify({
				'message': message,
				'username': "{{ user }}",
			}));
		}
		messageInput.value = '';
	});

	document.getElementById("chat-button").addEventListener("click", function (e) {
		e.preventDefault();
		document.getElementById("chat-container").classList.toggle("toggled");
		this.classList.toggle("toggled");
	});

	loadChatHistory(currentChatRoom);
</script>
{% endif %}