<div id="bars-wrapper">
	<div id="navbar-wrapper">
		<nav class="navbar">
			<b class="navbar-brand nav navbar-nav navbar-left">Johnny Depp</b>
			{% if user.is_authenticated %}
			<div class="container-dropdown">
				<div class="dropdown">
					<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
						data-bs-toggle="dropdown" aria-expanded="false">
						{{ user.username }} <span class="glyphicon glyphicon-picture"></span>
					</button>
					<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
						<li><a class="dropdown-item" data-route href="#">Profile</a></li>
						<li><a class="dropdown-item" data-route href="#">Settings</a></li>
						<li>
							<hr class="dropdown-divider">
						</li>
						<li><button id="logout-button-navbar" class="dropdown-item fw-bold">Log out <span
									class="glyphicon glyphicon-log-out"></span></button></li>
					</ul>
				</div>
			</div>
			{% else %}
			<ul id="navbar-list"
				class="list-group list-group-flush list-group-horizontal-sm list-unstyled nav navbar-nav navbar-right">
				<li class="m-2"><a class="btn btn-sm btn-success rounded-pill rounded-5" data-route href="/login"><span
							class="glyphicon glyphicon-log-in"></span> Login</a></li>
				<li class="m-2"><a class="btn btn-sm btn-outline-success rounded-pill rounded-5" data-route
						href="/register"><span class="glyphicon glyphicon-user"></span> Register</a></li>
			</ul>
			{% endif %}
		</nav>
	</div>

	<div id="sidebar-wrapper" class="bg-light border toggled">
		<div class="sidebar-heading">ft_transcendence</div>
		<ul id="sidebar-list" class="list-group list-group-flush">
			<li><a class="list-group-item list-group-item-action" data-route href="/">Home</a></li>
			{% if user.is_authenticated %}
			<li><a class="list-group-item list-group-item-action" data-route href="/pong">Pong</a></li>
			<li><a class="list-group-item list-group-item-action" onclick="logout()">Logout</a></li>
			{% else %}
			<li><a class="list-group-item list-group-item-action" data-route href="/login">Login</a></li>
			<li><a class="list-group-item list-group-item-action" data-route href="/register">Register</a></li>
			{% endif %}
		</ul>
	</div>

	<div id="page-container-wrapper">
		<button id="sidebar-toggle" class="btn btn-primary">☰</button>
		{% block content %}{% endblock %}
	</div>

	{% if user.is_authenticated %}
	<div id="notification-area"></div>
	<div id="chat-wrapper">
		<button id="chat-button">💬</button>
		<div id="chat-container" class="toggled">
			<div id="chat-title">Room: <span id="room-name">General</span></div>
			<div id="chat-log"></div>
			<form id="chat-form">
				<input id="chat-input" type="text" placeholder="Type your message here..." />
				<button type="submit" id="chat-send-btn">Send</button>
			</form>
			<div id="users-wrapper">
				<h3>Users Online</h3>
				<ul id="user-list"></ul>
			</div>
		</div>
	</div>
	{% endif %}
</div>

<script>
	document.getElementById("sidebar-toggle").addEventListener("click", function (e) {
		e.preventDefault();
		document.getElementById("sidebar-wrapper").classList.toggle("toggled");
		this.classList.toggle("toggled");
	});

	document.querySelectorAll('[data-route]').forEach((element) => {
		element.addEventListener("click", (event) => {
			event.preventDefault();
			route(event.target.getAttribute('href'));
		});
	});

	document.getElementById("logout-button-navbar").addEventListener("click", function (e) {
		logout();
	})
</script>

{% if user.is_authenticated %}
<script>
	if (!window.chatSocket) {
		window.chatSocket = wsConnect(wsCreateUrl(`chat/General/`), handleOnMessage, handleOnError);
		window.chatSocket.onopen = function () {
			loadChatHistory('General');
		};
	}

	function startPrivateChat(otherUsername) {
		const roomName = `private_chat_${otherUsername}`;
		if (window.chatSocket) {
			window.chatSocket.close();
		}
		window.chatSocket = wsConnect(wsCreateUrl(`chat/private/${otherUsername}/`), handleOnMessage, handleOnError);

		window.chatSocket.onopen = function () {
			loadChatHistory(roomName);
		};

		document.getElementById('chat-title').textContent = `Private Chat with ${otherUsername}`;
	}

	function joinPrivateChat(otherUsername) {
		if (window.chatSocket) {
			window.chatSocket.close();
		}

		// Ouvrir la WebSocket pour la conversation privée
		window.chatSocket = wsConnect(wsCreateUrl(`chat/private/${otherUsername}`), handleOnMessage, handleOnError);

		window.chatSocket.onopen = function () {
			loadChatHistory(`private_chat_${otherUsername}`);
		};

		document.getElementById('chat-title').textContent = `Private Chat with ${otherUsername}`;

		// Supprimer la notification une fois que la conversation a été rejointe
		const notificationArea = document.getElementById('notification-area');
		notificationArea.innerHTML = '';
	}

	function handleOnMessage(data) {
		switch (data.type) {
			case 'active_users':
				updateActiveUsers(data.users);
				break;
			case 'chat_history':
				displayChatHistory(data.messages);
				break;
			case 'private_message_notification':
				showPrivateChatNotification(data.from_user);
				break;
			default:
				handleDefault(data);
				break;
		}
	}

	function handleOnError(error) {
		console.error('WebSocket Error:', error);
	}

	function updateActiveUsers(users) {
		const userList = document.getElementById('user-list');
		userList.innerHTML = '';

		users.forEach(user => {
			const userItem = document.createElement('li');
			userItem.classList.add('user-item');
			userItem.textContent = user;

			if (user !== "{{ user }}") {
				const privateChatButton = document.createElement('button');
				privateChatButton.textContent = "PM";
				privateChatButton.addEventListener('click', () => startPrivateChat(user));

				userItem.appendChild(privateChatButton);
			}

			userList.appendChild(userItem);
		});
	}

	function displayChatHistory(messages) {
		const chatLog = document.getElementById('chat-log');
		chatLog.innerHTML = '';

		messages.forEach(message => {
			const newMessageDiv = document.createElement('div');
			if (message.username === "{{ user }}") {
				newMessageDiv.classList.add('message', 'self');
			} else {
				newMessageDiv.classList.add('message', 'other');
			}
			newMessageDiv.innerHTML = `<strong>${message.username}:</strong> ${message.message}`;
			chatLog.appendChild(newMessageDiv);
		});
		chatLog.scrollTop = chatLog.scrollHeight;
	}

	function showPrivateChatNotification(fromUser) {
		const notificationArea = document.getElementById('notification-area');

		const notificationDiv = document.createElement('div');
		notificationDiv.classList.add('notification');
		notificationDiv.innerHTML = `
        <p>Message privé de ${fromUser}</p>
        <button onclick="joinPrivateChat('${fromUser}')">Voir la conversation</button>
    	`;

		notificationArea.appendChild(notificationDiv);
	}

	function handleDefault(data) {
		const chatLog = document.getElementById('chat-log');
		const newMessageDiv = document.createElement('div');
		newMessageDiv.classList.add('message', data.username === "{{ user }}" ? 'self' : 'other');
		newMessageDiv.innerHTML = `<strong>${data.username}:</strong> ${data.message}`;
		chatLog.appendChild(newMessageDiv);
		chatLog.scrollTop = chatLog.scrollHeight;
	}

	function loadChatHistory(roomId) {
		if (window.chatSocket && window.chatSocket.readyState === WebSocket.OPEN) {
			window.chatSocket.send(JSON.stringify({
				'type': 'fetch_history',
				'roomId': roomId
			}));
		}
	}

	document.getElementById("chat-form").addEventListener("submit", e => {
		e.preventDefault();
		const messageInput = document.getElementById('chat-input');
		const message = messageInput.value.trim();
		if (window.chatSocket && window.chatSocket.readyState === WebSocket.OPEN && message) {
			window.chatSocket.send(JSON.stringify({
				'message': message,
				'username': "{{ user }}",
			}));
		}
		messageInput.value = '';
	});

	document.getElementById("chat-button").addEventListener("click", function (e) {
		e.preventDefault();
		document.getElementById("chat-container").classList.toggle("toggled");
		this.classList.toggle("toggled");
	});

	loadChatHistory('General');
</script>
{% endif %}