<form id="ft-username-form" class="hidden ft-form-container" data-url="/api/auth/authorize/">
	<div id="ft-username-error"></div>
	<div class="ft-input-wrapper">
		<input type="text" autocomplete="off" class="ft-username" id="username" placeholder="Enter your username" minlength="3" maxlength="15"/>
		<button type="submit" class="ft-button">Register with 42</button>
	</div>
</form>

<script>
	document.getElementById('ft-username-form').onsubmit = function (e) {
		e.preventDefault();
		document.getElementById('ft-username-error').textContent = '';
		submitForm('ft-username-form', () => route('/'), (json) => {
			if (!json.code) route('/login');
			if (json.code == 2)
				document.getElementById('ft-username-error').textContent = json.error;
		});
	}

	let params = new URLSearchParams(document.location.search);
	if (!params.get('code')) {
		console.error('missing code field');
		route('/login');
	} else {
		postFetch('/api/auth/authorize/', { 'code': params.get('code') })
			.then(response => {
				if (response.status == 200) {
					route('/');
					return;
				}

				response.json().then(json => {
					if (!json.code) {
						route('/login');
						return;
					}
					if (json.code == 1)
						document.getElementById('ft-username-form').classList.remove('hidden');
				});
			})
			.catch(error => console.error(error))
	}
</script>
