{% extends "./extends/base.html" %}

{% block content %}

<div class="profile-container">
	<div class="profile-header">
		<div class="profile-image-wrapper">
			<div class="profile-image-container">
				<img src="{{ user.avatar.url }}" alt="User Profile Picture">
			</div>
			<div class="edit-icon">
				<button class="edit-button">Edit</button>
			</div>
		</div>
	</div>
	<hr class="profile-divider">
	<div class="profile-content">
		<div class="username-container">
			<span class="username">{{ user.username }}</span>
		</div>
		<div class="password-container">
			<div class="password-wrapper">
				<span class="password">**********</span>
				<div class="password-edit-icon">
					<button class="edit-button">Edit</button>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- <h1>{{ user.username }}'s Profile</h1>
{% endblock %}