{% extends "./extends/base.html" %}
{% load i18n %}
{% block content %}
<div class="pr-profile-container">
	<div class="pr-header">
		<div class="pr-profile-header-content">
			<div class="pr-profile-image-container">
				<img src="{{ target.avatar.url }}" alt="Profile Picture" class="pr-profile-image">
			</div>
			<div class="pr-profile-username">
				<h1>{{ target.username }}</h1>
			</div>
		</div>
	</div>

	<hr class="pr-divider">

	<div class="pr-profile-content">
		{% if games.count == 0 %}
		<p class="pr-no-games">{% trans "Never played a game!" %}</p>
		{% else %}
		<h2>{% trans "Games history" %}</h2>
		<p>{% trans "Wins:" %} <span id="wins">{{ wins }}</span></p>
		<p>{% trans "Games Played:" %} <span id="games-played">{{ games.count }}</span></p>
		<p>{% trans "Win Percentage:" %} {{ win_percentage}}%<span id="win-percentage"></span></p>


		<div class="pr-game-scroll-container">
			<div class="pr-game-list">
				{% for game in games %}
				<div class="pr-game-card">
					<p>{{ game.user1.username }} vs {{ game.user2.username }}</p>
					<p>{{ game.score1 }} @ {{ game.score2 }}</p>
				</div>
				{% endfor %}
			</div>
		</div>
		{% endif %}
	</div>
</div>

{% endblock %}