{% extends "./extends/base.html" %}

{% block content %}
<!-- <div id="register-page-div" class="container-fluid d-flex">
	<div id="register-side-div" class="column">
		<h1>Register</h1>
		<form id="register-form" data-url="/api/auth/register/">
			<div id="register-error"></div>
			{% csrf_token %}
			<div>
				<label for="username">Username</label>
				<input id="username" type="text" autocomplete="username" />
			</div>
			<div>
				<label for="password">Password</label>
				<input id="password" type="password" />
			</div>
			<div>
				<label for="password-confirm">Confirm password</label>
				<input id="password-confirm" type="password" data-ignore="true" />
			</div>
			<button id="register-btn">Register</button>
		</form>
	</div>
	<div id="slider-side-div" class="column">

	</div>
</div> -->

<div id="register-side">
	<h1>Register</h1>
	<form id="register-form" data-url="/api/auth/register/">
		<div id="register-error"></div>
		{% csrf_token %}
		<div>
			<label for="username">Username</label>
			<input id="username" type="text" autocomplete="username" />
		</div>
		<div>
			<label for="password">Password</label>
			<input id="password" type="password" />
		</div>
		<div>
			<label for="password-confirm">Confirm password</label>
			<input id="password-confirm" type="password" data-ignore="true" />
		</div>
		<button id="register-btn">Register</button>
	</form>
</div>
<div id="login-side">
	<h1>Right Side</h1>
</div>

<script>
	function validate() {
		let password = document.getElementById('password').value;
		let passwordcfrm = document.getElementById('password-confirm').value;

		return password == passwordcfrm;
	}

	document.getElementById('register-btn').onclick = function(e) {
		document.getElementById('register-error').textContent = '';
		e.preventDefault();

		if (!validate()) {
			document.getElementById('register-error').textContent = 'Passwords doesn\'t match';
			return ;
		}

		submitForm('register-form', () => route('/login'), (json) => {
			document.getElementById('register-error').textContent = json.error;
		});
	};
</script>
{% endblock %}
