{% extends './extends/base.html' %}

{% block content %}
<div class="fr-friends-container">
	<h1>Friends</h1>
	<hr class="profile-divider">
	<div class="fr-friends-content">
		<div class="fr-invite-container">
			<form id="invite-form" class="fr-invite-form" data-url="/api/friends/invite/">
				<div class="fr-invite-div">
					<div id="fr-invite-error"></div>
					<label for="target">Search for friends:</label>
				</div>
				<div class="fr-invite-div">
					<input id="target" type="text" name="target" placeholder="Enter username" autocomplete="off">
				</div>
				<div class="fr-invite-div">
					<button id="fr-invite-btn" type="submit">Invite friends</button>
				</div>
			</form>
		</div>
		<div class="fr-friends-list-container">
			{% if friends.count == 0 %}
			<p>You don't have any friends yet !</p>
			{% else %}
			<div id="show-error"></div>
			{% for friend in friends %}
			<div class="fr-friend-card">
				<h4>{{ friend.other_user.username }}</h4>
				<p>Status: {{ friend.get_status_display }}</p>
				<div>
					{% if friend.status == 1 and friend.target == user %}
					<button data-type="accept" data-invite="{{ friend.id }}">Accept</button>
					<button data-type="deny" data-invite="{{ friend.id }}">Deny</button>
					{% else %}
					<button data-type="delete" data-invite="{{ friend.id }}">Delete</button>
					{% endif %}
				</div>
			</div>
			{% endfor %}
			{% endif %}
		</div>
	</div>
</div>

<script>
	document.querySelectorAll('[data-type][data-invite]').forEach((element) => {
		const type = element.dataset.type;
		const id = element.dataset.invite;
		element.onclick = function (e) {
			postFetch(`/api/friends/${type}/`, { 'invite_id': id })
				.then(response => {
					if (response.status == 200)
						handleLocation();
					else
					{
						response.json()
							.then(json =>
								json => document.getElementById('show-error').textContent = json.error
							)
							.catch(error => console.error(error));
					}
				})
				.catch(error => console.error(error));
		};
	});

	document.getElementById('fr-invite-btn').onclick = function (e) {
		e.preventDefault();
		let divError = document.getElementById('fr-invite-error');
		divError.textContent = '';
		submitForm('invite-form', () => route('/friends'), (json) => {
			divError.textContent = json.error;
		});
	};
</script>
{% endblock %}
