{% extends './extends/base.html' %}

{% block content %}
<div class="fr-friends-container">
	<h1>Friends</h1>
	<hr class="profile-divider">
	<div class="fr-friends-content">
		<div class="fr-invite-container">
			<form id="invite-form" class="fr-invite-form" data-url="/api/friends/invite/">
				<div>
					<div id="fr-invite-error"></div>
					<label for="target">Search for friends:</label>
				</div>
				<div>
					<input id="target" type="text" name="target" placeholder="Enter username" autocomplete="off">
				</div>
				<div>
					<button id="fr-invite-btn" type="submit">Become Friends</button>
				</div>
			</form>
		</div>
		<div class="fr-friends-list-container">
			{% if friends.count == 0 %}
			<p>You don't have any friends yet !</p>
			{% else %}
			<div id="show-error"></div>
			{% for friend in friends %}
			<div class="fr-friend-card">
				<h4>{{ friend.other_user.username }}</h4>
				<p>Status: {{ friend.get_status_display }}</p>
				<div>
					{% if friend.status == 1 and friend.target == user %}
					<button id="fr-accept-btn" data-invite="{{ friend.id }}">Accept</button>
					<button id="fr-deny-btn" data-invite="{{ friend.id }}">Deny</button>
					{% else %}
					<button id="fr-delete-btn" data-invite="{{ friend.id }}">Delete</button>
					{% endif %}
				</div>
			</div>
			{% endfor %}
			{% endif %}
		</div>
	</div>
</div>

<script>
	function registerBtn(id, route) {
		let el = document.getElementById(id);
		if (el == null) return;
		if (!('invite' in el.dataset)) {
			console.error(`Any invite data in ${el}`);
			return;
		}
		let inviteId = el.dataset.invite;
		el.onclick = function (e) {
			postFetch(`/api/friends/${route}/`, { 'invite_id': inviteId })
				.then(response => {
					if (response.status == 200)
						handleLocation();
					else return response.json();
				})
				.then(json => document.getElementById('show-error').textContent = json.error)
				.catch(error => console.error(error));
		}
	}

	registerBtn('fr-accept-btn', 'accept');
	registerBtn('fr-deny-btn', 'deny');
	registerBtn('fr-delete-btn', 'delete');

	document.getElementById('fr-invite-btn').onclick = function (e) {
		e.preventDefault();
		let divError = document.getElementById('fr-invite-error');
		divError.textContent = '';
		submitForm('invite-form', () => route('/friends'), (json) => {
			divError.textContent = json.error;
		});
	};
</script>
{% endblock %}