.navbar {
	background-color: var(--accent-clr);
	height: var(--navbar-height);
	min-height: var(--navbar-height);
	display: flex;
	flex-direction: row;
	padding: 0;
}

.navbar-brand {
	color: var(--hover-clr);
	margin-left: 5rem;
	font-size: 1.25em;
}

.navbar-brand:hover {
	color: var(--dark-hover-clr);
}

.navbar-brand:focus {
	color: var(--dark-hover-clr);
}

.div-navbar-profile {
	display: inline;
	padding-right: 4.5rem;
}

#navbar-list {
	list-style-type: none;
	justify-content: center;
	padding-right: 1.5rem;
}

.navbar-profile-img {
	height: 40%;
	border-radius: 50%;
	object-fit: cover;
	max-height: 30px;
	width: auto;
	margin-left: 10px;
}

.navbar-profile-button {
	padding: 0.5rem 0.75rem;
}

.dropdown {
	z-index: 1000;
	right: 2.5rem;
}

.dropdown-item {
	margin: 0;
	width: inherit;
}

.dropdown-toggle::after {
	display: none;
}

#notif-button {
	margin: auto;
	background-color: transparent;
	font-size: 20px;
	border: none;
	color: var(--hover-clr);
}

.notif-hidden {
	display: none;
}

#notification-area {
	border: 1px solid var(--line-clr);
	padding: 10px;
	background-color: var(--base-clr);
	width: 200px;
	position: absolute;
	top: 50px;
	right: 20px;
}