#sidebar-wrapper {
	position: fixed;
	width: 60px;
	top: 0;
	left: 0;
	background-color: #f3e2f0;
	border-radius: 0 5px 5px 0;
	transition: all 0.3s ease;
	z-index: 1000;
	display: flex;
	flex-direction: column;
	height: 100vh;
}

#sidebar-wrapper.toggled {
	width: 250px;
}

.heading-text {
	font-size: 1.5rem;
	font-weight: bold;
	color: #000;
	margin-left: 24px;
}

.sidebar-heading {
	align-self: flex-start;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	transition: background-color 0.3s ease;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#heading-text {
	left: 10;
	font-size: 1rem;
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* bouton */
#sidebar-toggle {
	background-color: transparent;
	border: none;
	color: #000000;
	font-size: 40px;
	cursor: pointer;
	transition: color 0.3s ease;
	top: 100;
}

#sidebar-toggle:hover {
	background-color: #dfbac8;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
}

#sidebar-wrapper.toggled .list-group-item {
	font-size: 1rem;
	text-align: left;
	background-color: #f3e2f0;
	border: none;
}

/* ---------------- Sidebar List Items ---------------- */
#sidebar-wrapper .list-group-item {
	font-size: 1rem;
	text-align: left;
	font-weight: bold;
	background-color: #f3e2f0;
	border: none;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	transition: background-color 0.3s ease;
}

#sidebar-wrapper .list-group-item:hover {
	background-color: #dfbac8;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
}

/* icon */
#sidebar-wrapper .list-group-item i {
	font-size: 1.5rem;
	width: 60px;
	text-align: left;
	margin-left: 5px;
}


/* ---------------- Active List Item ---------------- */
#sidebar-wrapper .list-group-item.active {
	background-color: #f3e2f0;
	font-weight: bold;
}

#sidebar-wrapper .list-group-item.active:hover {
	background-color: #dfbac8;
}

/* ---------------- Sidebar Dividers ---------------- */
#sidebar-wrapper .sidebar-divider {
	margin: 0.75rem 0;
	border-top: 2px solid #b21313;
}

/* ---------------- Darkened Body Background ---------------- */
.darken-body {
	background-color: rgba(0, 0, 0, 0.5);
	transition: background-color 0.3s ease;
}