/* Sidebar Container */
#sidebar {
	box-sizing: border-box;
	height: calc(100vh - var(--navbar-height));
	width: 24rem;
	padding: 0.25rem 1em;
	background-color: var(--base-clr);
	border-right: 1px solid var(--line-clr);
	position: absolute;
	top: var(--navbar-height);
	align-self: start;
	transition: 300ms ease-in-out;
	overflow: hidden;
	text-wrap: nowrap;
	z-index: 9001;
}

/* Sidebar Closed State */
#sidebar.close {
	padding: 0.25rem;
	width: var(--sidebar-width);
}

/* Sidebar List */
#sidebar ul {
	margin-left: -2.6rem;
	list-style: none;
}

/* First List Item Styles */
#sidebar>ul>li:first-child {
	display: flex;
	justify-content: flex-end;
}

#sidebar>ul>li:first-child .logo {
	font-weight: 600;
}

/* Links and Buttons in Sidebar */
#sidebar a,
#sidebar .dropdown-btn,
#sidebar .logo {
	border-radius: .5em;
	padding: .85rem;
	text-decoration: none;
	color: var(--text-clr);
	display: flex;
	align-items: center;
	gap: 1em;
}

/* Dropdown Button Styles */
.dropdown-btn {
	width: 100%;
	text-align: left;
	background: none;
	border: none;
	font: inherit;
	cursor: pointer;
}

/* Sidebar Icons */
#sidebar svg {
	flex-shrink: 0;
	fill: var(--text-clr);
}

/* Flex Properties for Links */
#sidebar a span,
#sidebar .dropdown-btn span {
	flex-grow: 1;
}

/* Hover Effects */
#sidebar a:hover,
#sidebar .dropdown-btn:hover {
	background-color: var(--hover-clr);
}

/* Sub-menu Styles */
#sidebar .sub-menu {
	display: grid;
	grid-template-rows: 0fr;
	transition: 300ms ease-in-out;
}

#sidebar .sub-menu>div {
	overflow: hidden;
}

#sidebar .sub-menu.show {
	grid-template-rows: 1fr;
}

#sidebar .sub-menu a {
	padding-left: 2em;
}

/* Toggle Button Styles */
#toggle-btn {
	margin-left: auto;
	border: none;
	border-radius: .5em;
	background: none;
	cursor: pointer;
	padding: 0.85rem;
	width: 100%;
}

#toggle-btn img {
	transition: rotate 150ms ease;
}

#toggle-btn:hover {
	background-color: var(--hover-clr);
}

/* Rotation Effects */
.dropdown-btn img:last-child {
	transition: 200ms ease;
}

.rotate img:last-child {
	rotate: 180deg;
}

.rotate svg:last-child {
	rotate: 180deg;
}