#wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: stretch;
}

#sidebar-wrapper {
    min-width: 250px;
    max-width: 250px;
    transition: all 0.3s ease;
    text-align: center;
}

.sidebar-heading {
    padding: 1rem;
    font-size: 1.5rem;
    text-align: center;
}

.list-group-item {
    text-align: center;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: -250px;
}

#page-content-wrapper {
    width: 100%;
    padding: 15px;
}

.container-fluid.center-content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-canvas {
    background-color: black;
    border: 3px solid lightskyblue;
    display: none;
}

.startBtn {
    padding: 15px;
    display: block;
}

#backBtn {
    padding: 15px;
    display: none;
}
