@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
	--base-clr: #f3e2f0;
	--line-clr: #b21313;
	--hover-clr: #dfbac8;
	--text-clr: #000;
	--accent-clr: #470d0d;
	--secondary-text-clr: #000;
	--selection-clr: #257AFD;

	--navbar-height: 4.2rem;
	--sidebar-width: 6rem;
}

* {
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
	font-family: Poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	line-height: 1.5rem;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	min-height: 100vh;
	min-height: 100dvh;
	background-color: var(--base-clr);
	color: var(--text-clr);
	display: grid;
}

#page-container-wrapper {
	width: 100%;
	flex-grow: 1;
	display: flex;
	position: relative;
	justify-content: center;
}

.hidden {
	display: none;
}

#content {
	width: 100%;
	min-height: 100%;
	display: flexbox;
}

#content-wrapper {
	display: flex;
	width: calc(100vw - 60px);
	min-height: calc(100vh - 4.2rem);
	padding-left: 60px;
}

#main-content {
	background-color: white;
	overflow-y: auto;
	display: flex;
	width: 100%;
}

a:focus {
	border: 0.1rem solid var(--selection-clr) !important;
	border-radius: 0.3rem !important;
}