{% extends "./extends/base.html" %}

{% block content %}
<div class="container">
	<p>Tournament name: {{ name }}</p>
	<table id="players" class="table table-striped table-bordered">
		<thead>
			<tr>
				<th>Players</th>
			</tr>
		</thead>
		<tbody></tbody>
	</table>

	<button id="lock-btn" class="btn btn-primary hidden" disabled>Lock</button>
	<button id="mix-btn" class="btn btn-success hidden" disabled>Mix</button>
</div>

<script>
	const socket = wsConnect(wsCreateUrl("pong_tournament", { "name": "{{ name }}" }), onMessage, exit);
	const lockBtn = document.getElementById("lock-btn");
	const mixBtn = document.getElementById("mix-btn");
	const playersTbl = document.getElementById("players");

	function onMessage(data) {
		if (data?.type === undefined) {
			console.error("Invalid message from server ignored.");
			return;
		}

		switch (data.type) {
			case "join": handleJoin(data.players); break;
			case "creator": handleCreator(); break;
			// case "mix": handleMix(data.pairs); break;
			default: console.error("Invalid message from server ignored."); break;
		}
	}

	function handleJoin(players) {
		const tableBody = document.querySelector("#players tbody");
		tableBody.innerHTML = '';

		players.forEach(element => {
			const row = document.createElement('tr');
			const player = document.createElement('td');
			player.textContent = element;
			row.appendChild(player);
			tableBody.appendChild(row);
		});
	}

	function handleCreator() {
		lockBtn.classList.remove("hidden");
		lockBtn.disabled = false;
	}

	// function handleMix(pairs) {

	// }

	function exit(reroute = true) {
		if (socket)
			socket.close();
		if (reroute)
			route("/tournament");
	}

	function onPageChange(e) {
		exit(false);
		e.srcElement.removeEventListener('pagechange', onPageChange);
	}

	lockBtn.onclick = () => {
		const tableBody = document.querySelector("#players tbody");
		const rowCount = tableBody.rows.length;
		if (rowCount < 2) {
			displayToast("You are alone in the tournament...");
			return;
		}
		lockBtn.classList.add("hidden");
		lockBtn.disabled = true;
		socket.send(JSON.stringify({ type: "lock" }));
		mixBtn.classList.remove("hidden");
		mixBtn.disabled = false;
	}

	mixBtn.onclick = () => {
		mixBtn.classList.add("hidden");
		mixBtn.disabled = true;
		socket.send(JSON.stringify({ type: "mix" }));
	}

	document.getElementById('content').addEventListener('pagechange', onPageChange);
</script>
{% endblock %}
