{% extends "./extends/base.html" %}

{% block content %}
<div class="container-fluid d-flex vh-70">
	<div class="row justify-content-center align-items-center w-100">
		<div class="col-12 col-md-3" id="main-pong-column">
			<div game-menu="main" class="row">
				<a class="btn pong-selection-buttons text-decoration-none mb-4" data-route
					href="/pong/local"><strong>Local Game</strong></a>
				<button class="btn pong-selection-buttons mt-4" menu-id="online"><strong>Online Play</strong></button>
			</div>

			<div game-menu="online" class="row">
				<a class="btn pong-selection-buttons text-decoration-none mb-2" data-route href="/pong/online">Create a
					Room</a>
				<button class="btn pong-selection-buttons text-decoration-none mt-2 mb-4" menu-id="join">Join a Room</button>
				<a class="btn pong-selection-buttons text-decoration-none my-4" data-route href="/tounament/pong">Join a Tournament</a>
			</div>

			<div game-menu="join" class="row">
				<form class="form-group my-4" id="join-form">
					<input class="form-control" type="text" id="join-id" placeholder="Room Id">
					<button type="submit" class="btn pong-selection-buttons">Join</button>
				</form>
			</div>
			
			<button class="btn pong-selection-buttons px-3" id="back-btn" menu-id="main">Back</button>
		</div>
	</div>
</div>

<script>
	const url = "pong"
	const backBtn = document.getElementById("back-btn");

	function showMenu(menuId) {
		document.querySelectorAll("[game-menu]").forEach(menu => {
			menu.style.display = menu.getAttribute("game-menu") === menuId ? "block" : "none";
		});
		menuId === "main" ? backBtn.classList.add("hidden") : backBtn.classList.remove("hidden");
	}

	document.querySelectorAll('[menu-id]').forEach(element => {
		element.addEventListener("click", (e) => {
			e.preventDefault();
			showMenu(element.getAttribute("menu-id"));
		});
	});

	document.getElementById("join-form").addEventListener("submit", e => {
		e.preventDefault();
		const roomId = document.getElementById('join-id').value.trim();
		document.getElementById('join-id').value = "";
		if (roomId !== "")
			route(`/pong/online/${roomId}`);
		else
			console.error('Room ID cannot be empty.');
	});

	showMenu("main");
</script>
{% endblock %}
