{% extends "./extends/base.html" %}

{% block content %}
<div class="container">
	<div id="game">
		<p>Roomd Id: {{room_id}}</p>
		<canvas id="pong-canvas" class="game-canvas"></canvas>
	</div>

	<button class="btn btn-primary" id="ready-btn">Ready</button>
	<button class="btn btn-success" id="back-btn">Back</button>
</div>

<script>
	const canvas = document.getElementById('pong-canvas');
	const ctx = canvas.getContext('2d');
	const readyBtn = document.getElementById('ready-btn');
	const mode = "{{mode}}";
	const localGame = mode === "local";
	let socket = wsConnect(wsCreateUrl("pong", {
			"mode": mode,
			"room_id": "{{room_id}}",
			"host": "{{host}}",
			"player_needed": mode === "online" ? 2 : 1,
	}), onMessage, exit);
	let upKey = "w";
	let downKey = "s";
	let padN = "";
	let run = false;
	let ready = false;
	let gameState;
	let keyInterval = null;
	let pointerLock = false;
	const mouseSensitivity = 1;

	function exit(goBack = true) {
		if (socket) {
			sendToWebSocket("game_stop");
			socket.close();
			socket = undefined;
		}
		document.exitPointerLock();
		if (goBack)
			route("/pong");
	}

	function sendToWebSocket(type, args = {}) {
		socket.send(JSON.stringify({ type, content: args }));
	}

	function onMessage(data) {
		switch (data.type) {
			case 'game_pad': handleGamePad(data); break;
			case 'game_start': handleGameStart(); break;
			case 'game_state': handleGameState(data); break;
			case 'game_stop': handleGameStop(data); break;
			case 'game_error': handleGameError(data); break;
		}
	}

	function handleGamePad(data) {
		padN = data.content.game_pad
		canvasResize(canvas);
		if (!localGame)
			drawCenteredText("Waiting for second player");
	}

	function handleGameStart() {
		run = true;
		if (localGame) {
			canvas.click()
		}
	}

	function handleGameState(data) {
		gameState = data.content;
		renderGame();
	}

	function handleGameStop(data) {
		exit(false);
		ctx.clearRect(0, 0, canvas.width, canvas.height);
		if (data?.content?.winner)
			drawCenteredText(`Winner: ${data.content.winner}`)
		else
			drawCenteredText("Sorry, your mate left :'(");
	}

	function handleGameError(data) {
		console.error(data.content.error);
		exit();
	}

	function canvasResize(canvas) {
		const style = getComputedStyle(canvas);
		canvas.width = parseInt(style.width);
		canvas.height = parseInt(style.height);
	}

	function renderGame() {
		ctx.clearRect(0, 0, canvas.width, canvas.height);
		drawBall(gameState.ball);
		drawPad(gameState.pad_1);
		drawPad(gameState.pad_2);
		drawText(`P1: ${gameState.score[0]}`, 20, 20);
		drawText(`P2: ${gameState.score[1]}`, canvas.width - 80, 20);
	}

	function drawBall(ball) {
		const radius = ball.radius * Math.min(canvas.width, canvas.height);
		ctx.beginPath();
		ctx.arc(ball.x * canvas.width, ball.y * canvas.height, radius, 0, Math.PI * 2);
		ctx.fillStyle = ball.color;
		ctx.fill();
		ctx.closePath();
	}

	function drawPad(pad) {
		ctx.fillStyle = pad.color;
		ctx.fillRect(pad.x * canvas.width, pad.y * canvas.height, pad.width * canvas.width, pad.height * canvas.height);
	}

	function drawText(text, x, y, color = "white", font = "20px Arial") {
		ctx.fillStyle = color;
		ctx.font = font;
		ctx.fillText(text, x, y);
	}

	function drawCenteredText(text, color = "white", font = "20px Arial") {
		ctx.font = font;
		const textWidth = ctx.measureText(text).width;
		const x = (canvas.width - textWidth) / 2;
		const y = canvas.height / 2;
		drawText(text, x, y, color, font);
	}

	function onPageChange(e) {
		exit(false);
		console.log("good");
		e.srcElement.removeEventListener('pagechange', onPageChange);
	}

	function initializeEvents() {
		readyBtn.addEventListener("click", e => {
			readyBtn.classList.add("hidden");
			readyBtn.disabled = true;
			sendToWebSocket("game_ready", {
				"pad_n": padN,
			});
		});

		document.getElementById('back-btn').onclick = exit;

		window.onresize = () => {
			canvasResize(canvas);
			if (run)
				renderGame();
		};

		document.onkeydown = e => {
			if (run && (e.key === upKey || e.key === downKey)) {
				e.preventDefault();
				if (!keyInterval) {
					let direction = e.key === upKey ? "up" : "down";
					sendToWebSocket("game_move", { "pad_n": padN, "direction": direction });
					keyInterval = setInterval(() => {
						sendToWebSocket("game_move", { "pad_n": padN, "direction": direction });
					}, 30);
				}
			}
		};

		document.onkeyup = e => {
			if (e.key === upKey || e.key === downKey) {
				clearInterval(keyInterval);
				keyInterval = null;
			}
		};

		document.getElementById('content').addEventListener('pagechange', onPageChange);

		if (localGame) {
			canvas.onclick = () => {
				if (run && !pointerLock)
					canvas.requestPointerLock()
			}

			document.onmousemove = e => {
				if (run && pointerLock) {
					let direction = e.movementY < 0 ? "up" : "down";
					if (Math.abs(e.movementY) * mouseSensitivity >= 1)
					sendToWebSocket("game_move", { "pad_n": "pad_2", "direction": direction });
				}
			};

			document.onpointerlockchange = () => {
				pointerLock = document.pointerLockElement === canvas
			};
		}
	}

	initializeEvents();
</script>
{% endblock %}
