{% extends "./extends/base.html" %}

{% block content %}
<div class="container">
	<div game-menu="main">
		<a class="btn btn-primary text-decoration-none" data-route href="/pong/local">Local Game</a>
		<button class="btn btn-danger" menu-id="online">Online Play</button>
	</div>

	<div game-menu="online">
		<a class="btn btn-primary text-decoration-none" data-route href="/pong/online">Create a Room</a>
		<button class="btn btn-danger text-decoration-none" menu-id="join">Join a Room</button>
		<a class="btn btn-warning text-decoration-none" data-route href="/tournament/pong">Join a Tournament</a>
	</div>

	<div game-menu="join">
		<form class="form-group" id="join-form">
			<input class="form-control" type="text" id="join-id" placeholder="Room Id">
			<button type="submit" class="btn btn-primary">Join</button>
		</form>
	</div>

	<button class="btn btn-success" id="back-btn" menu-id="main">Back</button>
</div>

<script>
	const url = "pong"
	const backBtn = document.getElementById("back-btn");

	function showMenu(menuId) {
		document.querySelectorAll("[game-menu]").forEach(menu => {
			menu.style.display = menu.getAttribute("game-menu") === menuId ? "block" : "none";
		});
		menuId === "main" ? backBtn.classList.add("hidden") : backBtn.classList.remove("hidden");
	}

	document.querySelectorAll('[menu-id]').forEach(element => {
		element.addEventListener("click", (e) => {
			e.preventDefault();
			showMenu(element.getAttribute("menu-id"));
		});
	});

	document.getElementById("join-form").addEventListener("submit", e => {
		e.preventDefault();
		const roomId = document.getElementById('join-id').value.trim();
		document.getElementById('join-id').value = "";
		if (roomId !== "")
			route(`/pong/online/${roomId}`);
		else
			console.error('Room ID cannot be empty.');
	});

	showMenu("main");
</script>
{% endblock %}
