{% extends "./extends/base.html" %}

{% block content %}
<div class="container-fluid d-flex vh-70">
	<div class="row justify-content-center align-items-center w-100">
		<div class="col-12 col-md-6">
			<div class="row">
				<div class="col text-center">
					<h1>Transcendence</h1>
				</div>
			</div>
			<div class="row">
				<div class="col text-center">
					{% if user.is_authenticated %}
					<a class="btn btn-lg btn-info rounded-pill rounded-5" data-route href="/pong" tabindex="1">
						<span>Play</span>
					</a>
					{% else %}
					<a class="btn btn-lg btn-success rounded-pill rounded-5" data-route href="/login" tabindex="1"><span
							class="glyphicon glyphicon-log-in"></span> Login</a>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
