{% extends "./extends/base.html" %}

{% block content %}
<div class="chat-app-container">
	<h1 class="chat-title">Chat Room</h1>

	<div class="chat-bubbles-container">
		<h2 id="room-name">Salle: General</h2>

		<!-- Zone d'affichage des messages -->
		<div id="chat-log" class="chat-log" readonly></div> <!-- Utiliser div au lieu de textarea -->

		<form id="send-form" class="chat-form">
			<input id="message-input" type="text" class="chat-input" placeholder="Tapez votre message...">
			<button id="send-btn" class="chat-send-btn">Envoyer</button>
		</form>
	</div>

	<div class="chat-users-container">
		<h3>Liste des utilisateurs</h3>
		<ul id="user-list" class="chat-user-list"></ul>
	</div>
</div>


<!-- <style>
	#chat-log {
		height: 16rem;
		width: 100%;
		margin-bottom: 10px;
		overflow-y: auto;
		border: 1px solid #ccc;
		padding: 10px;
		white-space: pre-wrap;
		background-color: #f9f9f9;
	}

	.message {
		margin-bottom: 5px;
	}

	.message.self {
		text-align: right;
	}
</style> -->
{% endblock %}